{
  "parser": "babel-eslint",
  "plugins": ["prettier", "react-button-has-type"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": 0,
    "react/prop-types": 0,
    "prettier/prettier":  ["error",
      { "endOfLine": "auto"}
    ],
    "react-button-has-type/rule-name": 2
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/webpack.config.dev.js"
      }
    }
  }
}
